.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper.state__animate {
  overflow: hidden;
}

.wrapper.state__overflow_hidden {
  overflow: hidden;
}

.wrapper.state__unselectable {
  user-select: none;
}
